.index {
  ul.index-list {
    li {
      margin-bottom: 2em;
    }
  }
  #wi1map{
    height: 250px;
    width: 350px;
    border: 2px solid gray;
    border-radius: 20px;
  }

  #wi2map{
      height: 250px;
      width: 350px;
      border: 2px solid gray;
      border-radius: 20px;
  }

  #wi1div{
      float: left;
      margin-left: 130px;
      h2 {
        text-align: center;
      }
  }

  #wi2div{
      float: right;
      margin-right: 130px;
      h2 {
        text-align: center;
      }
  }
}
