nav {
  div {
  background-color: #006AFF;
    ul {
      margin-left: 20px;
      li {
        display: inline-block;
        padding: 20px 20px 20px 0;
        

        a {
          text-transform: uppercase;
          font-weight: 600;
          color: white;
        }
      }

      // #liWyloguj{
      //   visibility: hidden;
      // }

      // #liPanel{
      //   visibility: hidden;
      // }

       #liUser{
         visibility: hidden;
         float: right;
       }
      #liLogowanie{
        float: right;

      }
    }
  }

  // &::after {
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   border-bottom: 1px solid @lineColor;
  //   margin: 0 auto;
  // }
}
